* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  padding: 1em 2em;
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.card {
  height: 450px;
  width: 300px;
}
.card > img {
  width: 300px;
  height: 200px;
}

svg {
  position: absolute;
}

circle:nth-of-type(1) {
  fill: #ffffff;
}
circle:nth-of-type(2) {
  fill: #fcd837;
}
circle:nth-of-type(3) {
  fill: #f9a11f;
}
circle:nth-of-type(4) {
  fill: #f27c21;
}

#clackers {
  /*   border: 1px solid white; */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#buttonContainer {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}
