*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  width: 100vw;
  height: 100vh;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  display: flex;
  flex-direction: column;
  gap: 2em;
}

header {
  background-color: rgb(34, 33, 33);
  padding: 1em 1em;
}
nav {
  padding: 0.5em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > a {
  all: unset;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  cursor: pointer;
}
nav > input {
  border: none;
  outline: none;
  padding: 1em 2em;
  border-radius: 5px;
  font-size: 1.03rem;
}
nav > input:focus {
  outline: none;
}

nav > input::placeholder {
  font-size: 1.03rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 1em;
}
main > input,
main > textarea {
  outline: none;
  border: none;
  width: 60%;
  padding: 1em 2em;
  border-radius: 7px;
  resize: none;
  font-size: 1.1rem;
}
main > input:focus,
main > textarea:focus {
  outline: none;
}

main > input,
::placeholder,
main > textarea::placeholder {
  font-size: 1.1rem;
}
button {
  all: unset;
  padding: 1em 3em;
  border: 1px solid white;
  background-color: rgb(26, 26, 25);
  color: white;
  cursor: pointer;
}
.container {
  display: flex;
  gap: 1em;
  border: 1px solid red;
  flex-wrap: wrap;
  padding: 1em;
}
.card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0.7em;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  gap:1.5em;
}
.top{
  align-self: end;
  color:rgb(20, 19, 20);
  cursor: pointer;
}
