.card {
  height: 300px;
  width: 500px;

}
.card >img{
    width: 100%;
    height: 100%;
}
.neighbour{
    height: 200px;
    width: 400px;
 
}

.neighbour >img{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    gap:3rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3em 2em;
}